<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image/webdesign.jpeg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Web Design and fullstack web development.</h1>
            <p>Web development is the work involved in developing a website for the Internet or an intranet Among Web professionals.</p>
            <p><a class="btn btn-lg btn-primary" href="https://www.google.com/search?q=web development" target="_blank">More Details</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/image/frontend.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>Frontend development.</h1>
            <p>Front end development manages everything that users visually see first in their browser or application.</p>
            <p><a class="btn btn-lg btn-primary" href="https://www.google.com/search?q=Frontend development" target="_blank">More Details</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/image/backend.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Backend development.</h1>
            <p>A back-end developer is someone who builds and maintains the technology needed to power the 
              components which enable the user-facing side of the website to exist.This includes the core application logic, 
              databases, data and application integration, API and other back end processes.</p>
            <p><a class="btn btn-lg btn-primary" href="https://www.google.com/search?q=backend development" target="_blank">More Details</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="assets/image/java.png" alt="" class="rounded-circle p-1 bg-light" width="150">
        </div>
        <h2>Java</h2>
        <p>One of the most widely used programming languages, Java is used as the server-side language
          for most back-end development projects.</p>
        <p><a class="btn btn-secondary" href="https://www.java.com/en/" target="_blank">more details about java &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="assets/image/angular.png" alt="" class="rounded-circle p-1 bg-light" width="150">
        </div>

        <h2>Angular</h2>
        <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript.
        </p>
        <p><a class="btn btn-secondary" href="https://angular.io" target="_blank">more details about angular &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="assets/image/android.png" alt="" class="rounded-circle p-1 bg-light" width="150">
        </div>
        <h2>Android</h2>
        <p>Basically, Android is thought of as a mobile operating system. ...
          It is currently used in various devices such as mobiles,</p>
        <p><a class="btn btn-secondary" href="https://www.android.com/intl/en_in/" target="_blank">more details about android &raquo;</a></p>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">web technology. <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">Lesson Summary. Web technology refers to the means by which computers communicate
          with each other using markup languages
          and multimedia packages. It gives us a way to interact with hosted information.
        </p>
      </div>
      <div class="col-md-5">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="assets/image/website.jpg" alt="" width="500" height="293">
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
          layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="assets/image/bluehost.png" alt="" width="500" height="376">
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">RPA Technology. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">RPA Technology will create new jobs in the market.
             Also through this, employees will learn new technologies and improve their skills which are currently required in RPA.
             RPA technology has a huge scope in the future as the world is now transforming into the digital era.</p>
      </div>
      <div class="col-md-5">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="assets/image/rpa.png" alt="" width="500" height="309">
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</main>