<br>

<div class="container p-3">
    <input type="text" class="form-control" [formControl]="name" id="name" aria-describedby="emailHelp">
    {{name.value}}
    <button class="btn btn-warning" (click)="updateName()">Update Name</button>
</div>
<br>
<div class="container p-3">
    <p appHighlight [mycolor]="color">hii gopikannan</p>
    <button type="submit" class="btn btn-primary m-3" (click)="changeColor('red')">change to red</button>
    <button type="submit" class="btn btn-primary m-3" (click)="changeColor('green')">change to green</button>
    <button type="submit" class="btn btn-primary m-3" (click)="changeColor('yellow')">change to yellow</button>
</div>


{{5 | sqrt}}

<div class="container p-3">

    <div class="row">
        <div *ngFor="let b of boxArray" [ngClass]="b.class">
            <app-box>
                <img [src]="b.img" class="card-img-top">
                <h5 class="card-title">{{b.title}}</h5>
                <p class="card-text">{{b.desc}}</p>
                <a href="#" class="btn btn-primary">{{b.btntext}}</a>
            </app-box>
        </div>
       
    </div>
   
</div>

