<nav class="sb-sidenav accordion sb-sidenav-dark">
    <div class="sb-sidenav-menu">
        <div class="nav">

            <a class="nav-link" routerLink="/dashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Dashboard
            </a>

            <a class="nav-link" routerLink="/dashboard/profile">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Profile
            </a>

            <a class="nav-link" routerLink="/dashboard/edit">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Employee List
            </a>


            <a class="nav-link" routerLink="/dashboard/change" routerLinkActive="active">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Change Password
            </a>

        </div>
    </div>

</nav>