<br>
<h3 class="text-center"> View Customer Details</h3>
<div>
  <ul class="list-group">
    <li class="list-group-item"><b>Customer Name : </b>{{userObj.customername}}</li>
    <li class="list-group-item"><b>Email : </b>{{userObj.email}}</li>
    <li class="list-group-item"><b>Customer Details : </b>{{userObj.customerdetails}}</li>
    <li class="list-group-item"><b>Event Name : </b>{{userObj.event.eventname}}</li>
    <li class="list-group-item"><b>Event Details: </b>{{userObj.event.eventdetails}}</li>
  </ul>
</div>