<nav class="sb-sidenav accordion sb-sidenav-dark">
    <div class="sb-sidenav-menu">
        <div class="nav">

            <a class="nav-link" routerLink="/dashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Dashboard
            </a>

            <a class="nav-link" routerLink="/dashboard/profile">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Profile
            </a>

            <a class="nav-link" routerLink="/dashboard/forget" routerLinkActive="active">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Forget Password
            </a>

            <a class="nav-link" routerLink="/dashboard/employee-list" routerLinkActive="active">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Employees List
            </a>

            <!-- <div class="sb-sidenav-menu-heading">Book</div>
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                aria-expanded="false" aria-controls="collapseLayouts">
                Book
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" routerLink="/addbook">Add Book</a>
                    <a class="nav-link" routerLink="/addreview">Add Review</a>
                </nav>
            </div> -->
            
            <a class="nav-link" routerLink="/addbook">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Add Book
            </a>

            <a class="nav-link" routerLink="/booklist">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Book List
            </a>
            <!-- <a class="nav-link" routerLink="/addreview">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Add Review
            </a> -->

        </div>
    </div>

</nav>