<!DOCTYPE html>
<html>

<head>
  <!-- <title>Task 4</title>
  <link rel="stylesheet" href="css/style4.css"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

  <div class="topnav">
    <a>
      <img style=" border-radius:50%" class="topleft" src="images/logo.png" alt="" width="140" height="30">
    </a>
    <a><i class="fa fa-bars"></i></a>
    <a href="#news"><b>Sales</b></a>
    <a href="#contact">Purchases</a>
    <a href="#contact">My status</a>
    <div class="topnav-right">
      <a>
        <input type="text" placeholder="   Type to search" name="search">
      </a>
      <a><button style="font-size:20px"> <i class="fa fa-bell"></i></button></a>
      <a> <button style="font-size:20px"><i class="fa fa-envelope"></i></button></a>
      <a>
        <div class="aus">
          <p>AUS</p>
          <div class="aro1">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
          </div>
          <div class="aro2">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </div>
      </a>
      <a>
        <div class="profile">
          <img src="images/profile.jpg" alt="" width="30" height="30">
        </div>
      </a>
      <a>
        <div class="dot-btn"><button style="font-size:20px"><i class="fa fa-ellipsis-h"></i></button>
        </div>
      </a>
    </div>
  </div>
  <div class="demo">
    <div class="back">
      <a><img src="images/profile.jpg" alt="" style="width:65px"></a>
      <a>
        <h3>Louis Scott</h3>
        <p>Sales Manager</p>
      </a>
    </div>
  </div>


  <div class="sidebar">
    <a href="#about" style="color: #2834cf;"><b><i class="fa fa-dashboard"></i> Dashboard</b></a>
    <a href="#services"><i class="fa fa-puzzle-piece"></i> Widgets</a>
    <a href="#clients"><i class="fa fa-circle-o"></i> Ui Elements<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-puzzle-piece"></i> Advanced Ui<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-bars"></i> Form elements<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-edit"></i> Editers<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-bar-chart"></i> Charts<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-table"></i> Tables<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-commenting"></i> Popups</a>
    <a href="#contact"><i class="fa fa-bell"></i> Nofitications</a>
    <a href="#contact"><i class="fa fa-smile-o"></i> Icons<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-map"></i> Maps<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-user-circle"></i> User Pages<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-exclamation-circle"></i> Error Pages<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-file"></i> General Pages<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-shopping-cart"></i> E-commerce<span><i class="arrow right"></i></span></a>
    <a href="#contact"><i class="fa fa-envelope"></i> E-mail</a>
    <a href="#contact"><i class="fa fa-calendar"></i> Calendar</a>
    <a href="#contact"><i class="fa fa-check-square-o"></i> Todo List</a>
    <a href="#contact"><i class="fa fa-file-picture-o"></i> Gallery</a>
    <a href="#contact"><i class="fa fa-book"></i> Documentation</a>
  </div>
  <div class="content">
    <br>
    <div class="content-top">
      <a href="#news"> <b>Dashboard</b></a>
      <div class="loc">
        <a href="#contact">App <i class="arrow right"></i> Dashboard <i class="arrow right"></i> Analytics</a>
      </div>
      <div class="content-top-right">
        <a><button class="topbt" type="button"> 02 Aug 2019 &#9475; <i class="fa fa-angle-down"
              aria-hidden="true"></i></button></a>
        <a><button type="button">Download Report</button></a>
      </div>
    </div>
    <div class="flex-container">
      <div class="box" style="background-color:rgb(25, 0, 255);">
        <a>
          <h3><button style='font-size:15px;'><i class="fa fa-star" aria-hidden="true"></i></button> Sales</h3>
          <p>59467</p>
          <h2>High 311 &#8593;</h2>
          <h3>Total for this month</h3>
        </a>
      </div>
      <div class="box" style="background-color:rgb(0, 189, 142);">
        <a>
          <h3><button style='font-size:15px;'><i class="fa fa-truck"></i></button> Returns</h3>
          <p>28085</p>
          <h2>High 2.98 &#8593;</h2>
          <h3>Total for this month</h3>
        </a>
      </div>
      <div class="box" style="background-color:rgb(0, 110, 255);">
        <a>
          <h3><button style='font-size:15px;'><i class="fa fa-shopping-basket"></i></button> Purchases</h3>
          <p>39645</p>
          <h2>Low 0.91 &#8595;</h2>
          <h3>Total for this month</h3>
        </a>
      </div>
      <div class="box" style="background-color:rgb(0, 0, 0);">
        <a>
          <h3><button style='font-size:15px;'><i class="fa fa-cloud-download"></i></button> Downloads</h3>
          <p>44148</p>
          <h2>Low 1.12 &#8595;</h2>
          <h3>Total for this month</h3>
        </a>
      </div>
    </div>
    <br>
    <div class="flex-container1">
      <div class="flex1" style="background-color:rgb(255, 255, 255);">
        <a>
          <div class="flex1-corner">
            <i style="font-size:20px" class="fa">&#xf141;</i>
          </div>
          <h3>Customers</h3>
          <span>Total customer this month</span>
          <img src="images/line-chart.png" alt="" width="380" height="100">
          <h2>92556</h2>
          <pre>1.35 &#8593;</pre>
          <p>More then last month</p>
        </a>
      </div>
      <div class="flex1" style="background-color:rgb(255, 255, 255);">
        <a>
          <div class="flex1-corner">
            <i style="font-size:20px" class="fa">&#xf141;</i>
          </div>
          <h3>Conversion</h3>
          <span>Total conversion this month</span>
          <img src="images/line-chart-2.png" alt="" width="380" height="100">
          <h2>53812</h2>
          <pre style="color: red;">0.17 &#8595;</pre>
          <p>Less then last month</p>
        </a>
      </div>
      <div class="flex1" style="background-color:rgb(255, 255, 255);">
        <a>
          <div class="flex1-corner">
            <i style="font-size:20px" class="fa">&#xf141;</i>
          </div>
          <h3>Revenue</h3>
          <span>Total revenue this month</span>
          <img src="images/line-chart-1.png" alt="" width="380" height="100">
          <h2>40008</h2>
          <pre>0.06 &#8593;</pre>
          <p>More then last month</p>
        </a>
      </div>
    </div>
    <br>
    <br>
    <div class="flex-container2">
      <div class="flex2" style="background-color:rgb(255, 255, 255);">
        <a>
          <div class="corner-dot1">
            <i style="font-size:20px" class="fa">&#xf141;</i>
          </div>
          <div class="cor-btn">
            <button style="background-color: #04AA6D;"></button>
            <br>
            <button style="background-color: #000000;"></button>
          </div>
          <div class="cor-line">
            <p>Online revenue</p>
          </div>
          <div class="cor-line1">
            <p>Offline revenue</p>
          </div>
          <h3>Revenue For Last 30 Days</h3>
          <span>Sales performance for online evenueof past 30 days</span>
          <img src="images/line.png" alt="" width="810" height="360">
        </a>
      </div>
      <div class="flex3" style="background-color:rgb(255, 255, 255);">
        <a>
          <div class="corner-dot2">
            <i style="font-size:20px" class="fa">&#xf141;</i>
          </div>
          <h3>All Online Sales</h3>
          <p>The total number of sessions within the data range.it is the period time a user is actively engaged with
            your website.page or app,etc.</p>
          <button style="font-size:35px"><i class="fa fa-gear"></i></button>
          <img src="images/doughnut.gif" alt="" width="270" height="250">
          <div class="cl1">
            <h2>12%</h2>
            <p>Sales total</p>
          </div>
          <div class="cl2">
            <h2>20%</h2>
            <p>Sales total</p>
          </div>
          <div class="cl3">
            <h2>67%</h2>
            <p>Sales total</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>
