<body>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">

      <app-side-nav-bar></app-side-nav-bar>

    </div>

    <div id="layoutSidenav_content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <h1 class="mt-4">Dashboard</h1>
             <h2 class="featurette-heading"><span class="text-muted">welcome:  {{userObj.userType}}</span>
             </h2>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-3">
              <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-3">
              <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-3">
              <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
              </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-3">
              <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>