<!DOCTYPE html>
<html>

<head>
  <!-- <title>Task 3</title>
  <link rel="stylesheet" href="css/style3.css"> -->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="bg-img">
    <div class="centered">
      <h1>Develop experiences</h1>
    </div>
    <div class="centered2">
      <p>Ul frameworks and app development tools that 2.1 million developers love</p>
    </div>
    <div class="centered3">
    <p> <i class="arrow down"></i></p>
    </div>
    <div class="container">
      <div class="topnav">
        <a href="#contact">Your Account</a>
        <a href="#contact">Telerik Platform</a>
        <a><i class="fa fa-search"></i></a>
        <a href="#contact">ABOUT US</a>
        <a href="#contact">SUPPORT&LEARNING</a>
        <a href="#contact">PRICING</a>
        <a href="#news">FREE TRAILS</a>
        <a href="#home">ENTERPRISE</a>
        <a>
          <select id="nname">
            <option>PRODUCTS</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </a>
        <a>
          <img src="images/sak.png" alt="" width="95" height="25">
        </a>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="grid-container">
      <div class="grid-item">
        <p class="net">.NET</p>
        <br>
        <h3>DevCraft<sup>TM</sup></h3>
        <br>
        <p>.NET UI controls, reporting and developer productivity tools</p>
        <br>
        <br>
        <button class="button">Learn More</button>
      </div>
      <div class="grid-item">
        <p class="native">NATIVE MOBILE</p>
        <br>
        <h3>NativeScript<sup>*</sup></h3>
        <br>
        <p>open sourse frameworks for building truly native module apps with Angular,TypeScript or javascript</p>
        <br>
        <button class="button2">Learn More</button>
      </div>
      <div class="grid-item">
        <p class="ht">HTML5</p>
        <br>
        <h3>Kendo Ui<sup>*</sup></h3>
        <br>
        <p>javascript,HTML5 UI widgets for responsive web and data visualization</p>
        <br>
        <br>
        <button class="button3">Learn More</button>
      </div>
      <div class="grid-item">
        <p class="cms">CMS</p>
        <br>
        <h3>Progress<sup>*</sup> Sitefinity<sup>TM</sup></h3>
        <br>
        <p>web content Management and Customer Analytics for managing andoptimizing digital experiences </p>
        <br>
        <br>
        <button class="button4">Learn More</button>
      </div>
      <div class="grid-item">
        <p class="mob">MOBILE</p>
        <br>
        <h3>Telerik<sup>*</sup> Platform</h3>
        <br>
        <p>Complete cross platform solutions to design, build, deploy, manage, and measure all your mobile apps </p>
        <br>
        <button class="button4">Learn More</button>
      </div>
      <div class="grid-item">
        <p class="tes">TESTING</p>
        <br>
        <h3>Test Studio<sup>*</sup></h3>
        <br>
        <p>Release better quality software faster with an intuitive and easy to use fest automation solution</p>
        <br>
        <br>
        <button class="button4">Learn More</button>
      </div>
    </div>
  </div>

</body>

</html>