.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
  }
  
  #layoutSidenav {
      display: flex;
    }
    
    #layoutSidenav #layoutSidenav_content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;
      flex-grow: 1;
      min-height: calc(100vh - 56px);
      margin-left: auto;
    }
    #layoutSidenav #layoutSidenav_nav {
      flex-basis: 250px;
      flex-shrink: 0;
      transition: transform 0.15s ease-in-out;
      z-index: 1038;
      transform: auto;
    }


    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }
  