<!doctype html>
<html>

<head>
    <!-- <title>Task 2</title>
    <link rel="stylesheet" href="css/style2.css"> -->
</head>

<body>
    <div class="register">
        <div class="register-left">
            <img src="images/rock.png" alt="" width="128" height="128" />
            <h1>Welcome</h1>
            <p>You are 30 seconds away from earning your own money!</p>
            <input type="submit" name="" value="Login" /><br />
        </div>
        <div class="register-right">
            <div class="button">
                <div class="toggle">
                    <input type="radio" id="op1" name="toggle_btn" checked>
                    <label for="op1">Employee</label>
                    <input type="radio" id="op2" name="toggle_btn">
                    <label for="op2">Hirer</label>
                </div>
            </div>
            <h1 class="heading">Apply as a Employee</h1>
            <div id="col-1">
                <input type="text" placeholder="First Name" />
                <br>
                <input type="text" placeholder="Last Name" />
                <br>
                <input type="password" placeholder="Password" />
                <br>
                <input type="password" placeholder="Confirm Password" />
                <br>
                <br>
                <div class="radio">
                    <label><input type="radio" name="gender"> Male </label>
                    <label><input type="radio" name="gender"> Female</label>
                </div>
            </div>
            <div id="col-2">
                <input type="text" placeholder="Your Email" />
                <br>
                <input type="text" name="txtEmpPhone" placeholder="Your Phone" />
                <br>
                <select type="dropdown">
                    <option>Please select your sequrity question</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <br>
                <input type="text" placeholder="Enter Your Answer" />
                <input type="submit" class="reg-btn" value="Register" />
            </div>
        </div>
    </div>
</body>

</html>