<body>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <app-side-nav-bar></app-side-nav-bar>
    </div>

    <div id="layoutSidenav_content">
      <div class="content-wrapper">
        <div class="container-fluid">

          <h1>Employeer List</h1>
          <ol class="breadcrumb mb-2">
          </ol>
          <br>

          <form autocomplete="off">
            <input type="input" class="form-control mb-3" [(ngModel)]="searchText" name="search" id="search" placeholder="search">
           
          </form>

          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th>S.No</th>
                <!-- <th>user Id</th> -->
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employeeList | employee:searchText ; let i=index">
                <th scope="row">{{1+i}}</th>
                <!-- <td>{{emp.id}}</td> -->
                <td>{{emp.firstName}}</td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.mobilenumber}}</td>
                <td>{{emp.email}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>